---
- name: "Ensure .ssh directory exists"
  ansible.builtin.file:
    path: "{{ var_home_dir }}/.ssh"
    state: directory
    owner: "{{ var_username }}"
    group: "{{ var_username }}"
    mode: '0700'

- name: "Install public key"
  no_log: true
  ansible.builtin.copy:
    dest: "{{ var_home_dir }}/.ssh/id_rsa.pub"
    content: "{{ var_public_ssh_key }}"
    owner: "{{ var_username }}"
    group: "{{ var_username }}"
    mode: '0644'
  when:
    - var_public_ssh_key is defined
    - var_public_ssh_key != ""

- name: "Install private key"
  no_log: true
  ansible.builtin.copy:
    dest: "{{ var_home_dir }}/.ssh/id_rsa"
    content: "{{ var_private_ssh_key }}"
    owner: "{{ var_username }}"
    group: "{{ var_username }}"
    mode: '0600'
  when:
    - var_private_ssh_key is defined
    - var_private_ssh_key != ""

- name: "Configure authorized_keys"
  no_log: true
  ansible.posix.authorized_key:
    user: "{{ var_username }}"
    key: "{{ item.authorized_key }}"
    state: "{{ item.state | default('present') }}"
    path: "{{ var_home_dir }}/.ssh/authorized_keys"
    manage_dir: false
  loop: "{{ var_authorized_keys }}"
  when: var_authorized_keys | length > 0
